<div class="container-fluid">
  <h1>Kavita Stats Dashboard</h1>
  <p>This contains information collected about Kavita. There is no PPI or SPI stored within. This is a quick and dirty dashboard.</p>
  <div class="row g-0">
    <div class="card text-center col-auto pe-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Total Installs</h5>
        <p class="card-text">
          {{totalInstalls}}
        </p>
      </div>
    </div>
    
  </div>

  <div class="row g-0">
    <app-installs-by-release></app-installs-by-release>
  </div>
</div>